@model Clothing_shopping.Models.Product
@using Newtonsoft.Json

@{
    string imgUrl = "/images/Products/Degbug.png";

    if (!string.IsNullOrEmpty(Model.Images))
    {
        try
        {
            var listImg = JsonConvert.DeserializeObject<List<string>>(Model.Images);

            imgUrl = listImg.FirstOrDefault() ?? imgUrl;
        }
        catch (Exception ex)
        {
            // Handle the exception (e.g., log it)
            var errorMessage = ex.Message;
            Console.WriteLine($"Error deserializing JSON: {errorMessage}");
        }
    }

    var firstVariant = Model.ProductVariants.FirstOrDefault();
}

<div class="shoe">
    @* like *@
    <div class="shoe_like">
        <a><i class="fa-regular fa-heart"></i></a>
    </div>
    @* cart *@
    <div class="shoe_cart">
        <a><i class="fa-solid fa-cart-shopping"></i></a>
    </div>

    @* img *@
    <div class="shoe_img"><img loading="lazy" src="@imgUrl" alt="" /></div>
    
    @* name + money *@
    <div class="shoe_name">
        <span class="title">@Model.Name</span>
    </div>
    <div class="shoe_moeny">
        @if (firstVariant != null)
        {
            if (firstVariant.Stock >0)
            {
                var Price = firstVariant.Price ?? 0;
                var SalePrice = firstVariant.SalePrice ?? 0;

                if (SalePrice == 0)
                {
                    <span id="display_price" class="shoe_price" style="color: red;">@Price.ToString("C0")</span>
                    <span id="display_salePrice" class="shoe_salePrice" style="display: none">@SalePrice.ToString("C0")</span>
                }
                else
                {
                    <span id="display_price" class="shoe_price" style="text-decoration: line-through; font-size: 18px;">@Price.ToString("C0")</span>
                    <span id="display_salePrice" class="shoe_salePrice" style="color: red;">@SalePrice.ToString("C0")</span>
                }
            }
            else
            {
                <span class="shoe_price"> Hết hàng </span>
            }
        }
        else
        {
            <span class="no_sell">Size @firstVariant.Size này không còn được bán nữa</span>
        }
    </div>

    <div class="shoe_bottom">
        @* size *@
        <div class="size_option">
            <h3>Size: </h3>

            <div class="Size_product">
                @foreach (var variant in @Model.ProductVariants.Select(s => s.Size).Distinct())
                {
                    <span class="size-item">
                        @variant
                    </span>
                }
            </div>
        </div>

        @* color *@
        <div class="color_option">
            <h3>Color:</h3>

            <div class="Color_product">
                @foreach (var PrColor in @Model.ProductVariants.Select(c => c.Color).Distinct())
                {
                    <div class="bgr-product" style="background: @PrColor;"></div>
                }
            </div>
        </div>

        <div class="Shoe_buy">
            <a>Mua</a>
            <a>Thêm vào giỏ</a>
        </div>
    </div>
</div>