@model Dictionary<int, IPagedList<Clothing_shopping.Models.Product>>

@{
    var CategoryId = 0;
    int.TryParse(ViewContext.HttpContext.Request.Query["CategoryId"], out CategoryId);
}
@await Html.PartialAsync("_FilterProduct", new Tuple<int, int>(@ViewBag.TargetGroup, CategoryId))
<div class="Product_container">
    <div class="Product_list_menu">
        <partial name="_list_menu"/>
    </div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Product" asp-route-TargetGroup="@ViewBag.TargetGroup">
                        @if(@ViewBag.TargetGroup == 0)
                        {
                            @("Đồ Nam")
                        }
                        else if (@ViewBag.TargetGroup == 1)
                        {
                           @("Đồ Nữ")               
                        }
                        else
                        {
                           @("Đồ Trẻ Em")
                        }
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    @ViewBag.CatagoryName
                </li>
            </ol>
            <div class="btn_filter">
                <span>Bộ lọc</span>
                <i class="fa-solid fa-sliders"></i>
            </div>
        </nav>
        <div id="product-list-area">
            @await Html.PartialAsync("_ProductListContainer", Model)
        </div>
    </div>
</div>

@section Scripts{
    <script>
        if (Controller === "Home" && Action === "Product") {
            const List_menu = document.getElementById("list_menu");
            const LIST = document.getElementById("LIST");
            const iconBtn_list_menu = document.getElementById("list_menu_btn");
            // --- CODE LIST MENU (CẠNH TRÁI) ---
            iconBtn_list_menu.addEventListener("click", () => {
                List_menu.classList.toggle("ac");
                $(".container").toggleClass("ac");
                if (iconBtn_list_menu.classList.contains("fa-bars")) {
                    iconBtn_list_menu.classList.remove("fa-bars");
                    iconBtn_list_menu.classList.add("fa-xmark");
                    $(".btn_list").css("border-radius", "0");
                    $(".btn_list .img").css("display", "block");
                    LIST.style.background = "#FFCF4";
                    $("#LIST").css("box-shadow", "0 4px 6px rgba(0, 0, 0, 0.1)");
                    return;
                }
                iconBtn_list_menu.classList.remove("fa-xmark");
                iconBtn_list_menu.classList.add("fa-bars");
                LIST.style.background = "none";
                $(".btn_list .img").css("display", "none");
                $(".btn_list").css("border-radius", "20px");
                $("#LIST").css("box-shadow", "none");
                //alert("check")
            });
            $(".group").on("click", function (){
                $(this).toggleClass("ac");
                $(this).find(".fa-solid").toggleClass("fa-angle-down fa-angle-up");
            });
            $(".Catagory").on("click", function (e){
                e.stopPropagation();
                $(this).toggleClass("ac");
                $(this).find(".fa-solid").toggleClass("fa-angle-down fa-angle-up")
            });
            // document.querySelectorAll(".Catagory").forEach(ct => {
            //     ct.addEventListener("click", function (e) {
            //         e.stopPropagation();
            //         this.classList.toggle("ac");
            //     });
            // });

            // --- CODE FILTER (CẠNH PHẢI) ---
            const filter_size = {};
            $(".btn_filter").on("click", () => {
                $(".Filter").toggleClass("ac");
                $(".filter_CS").removeClass("ac");
            })
            $(".btn_filter_size_left").on("click", () => {
                $(".filter_CS").removeClass("ac");
            })
            $(".btn_filterColor").on("click", () => {
                 $(".filter_color").toggleClass("ac");
            })
            $(".btn_filterSize").on("click", () => {
                 $(".filter_size").toggleClass("ac");
            })

            // --- CODE THÊM SẢN PHẨM VÀO YÊU THÍCH AJAX VỚI HIỆU ỨNG BAY TRÁI TIM ---
            document.addEventListener('DOMContentLoaded', function () {
                const wishlistButtons = document.querySelectorAll('.add-to-wishlist-btn');
                // const cartlistButtons = document.querySelectorAll('.add-to-cartlist-btn');
                const headerWishlistIcon = document.getElementById('header-wishlist-icon');
                // const headerCartlistIcon = document.getElementById('header_cartlist_icon');

                if (!headerWishlistIcon) {
                    console.error('Không tìm thấy icon trái tim trên header (id="header-wishlist-icon")');
                    return;
                }

                wishlistButtons.forEach(button => {
                    button.addEventListener('click', async function (event) {
                        event.preventDefault();

                        // Lấy ID sản phẩm từ data attribute
                        const variantId = this.dataset.variantId;
                        if (!variantId || variantId === '0') {
                            console.error('Không tìm thấy productVariantId');
                            alert('Lỗi: Không tìm thấy ID sản phẩm.');
                            return;
                        }

                        const clickedIcon = this.querySelector('i');

                        // Gọi ajax
                        try {
                            // gọi AddFavorite
                            const response = await $.post(`/Home/AddFavorite?productVariantId=${variantId}`)

                            // 3. Xử lý kết quả
                            if (response.success) { // response.success == true khi status là 200 (OK)
                                // --- CHỈ KHI THÀNH CÔNG MỚI CHẠY HIỆU ỨNG ---
                                const flyingHeart = clickedIcon.cloneNode(true);
                                flyingHeart.classList.add('flying-heart');
                                const startRect = clickedIcon.getBoundingClientRect(); // lấy vị trí của icon đã bấm
                                const endRect = headerWishlistIcon.getBoundingClientRect(); // lấy vị trí của icon trên header
                                flyingHeart.style.top = `${startRect.top}px`;
                                flyingHeart.style.left = `${startRect.left}px`;
                                document.body.appendChild(flyingHeart);

                                setTimeout(() => {
                                    flyingHeart.style.top = `${endRect.top + (endRect.height / 4)}px`; // cập nhật top để bay tới
                                    flyingHeart.style.left = `${endRect.left + (endRect.width / 4)}px`; // cập nhật left để bay tới
                                    flyingHeart.style.opacity = '0';
                                }, 10);

                                setTimeout(() => {
                                    flyingHeart.remove();
                                }, 810);

                                // Thay đổi màu của trái tim gốc
                                clickedIcon.style.color = 'red';
                                clickedIcon.classList.remove('fa-regular');
                                clickedIcon.classList.add('fa-solid');

                            } else {
                                // 4. Xử lý lỗi từ server
                                if (response.status === 401) { // Unauthorized (Chưa đăng nhập)
                                    window.location.href = '/User/Login';
                                } else if (response.status === 409) { // Conflict (Đã tồn tại)
                                    alert("Sản phẩm đã có trong yêu thích.");
                                } else {
                                    alert('Đã xảy ra lỗi. Vui lòng thử lại.');
                                }
                            }
                        } catch (error) {
                            console.error('Lỗi khi gọi API:', error);
                            //alert('Không thể kết nối đến máy chủ.');
                        }
                    });
                });
            });

            // --- CODE PHÂN TRANG AJAX ---
            $(document).on('click', '#product-list-area .pagination a', function(event) {
                event.preventDefault(); // Chặn hành vi reload trang mặc định
                // 2. Lấy link URL từ nút Pager đã bấm
                var href = $(this).attr('href');
                if (!href) return;
                // 3. Tìm div cha 'category-section' gần nhất
                var $sectionToUpdate = $(this).closest('.category-section');
                // 4. Lấy ID của section đó (ví dụ: 'category-section-7')
                var sectionId = $sectionToUpdate.attr('id');
                $sectionToUpdate.load(href + ' #' + sectionId + ' > *');
            });


            // double range slider
            window.onload = function () {
                slideOne();
                slideTwo();
            };

            let sliderOne = document.getElementById("slider-1");
            let sliderTwo = document.getElementById("slider-2");
            let displayValOne = document.getElementById("range1");
            let displayValTwo = document.getElementById("range2");
            let minGap = 0;
            let sliderTrack = document.querySelector(".slider-track");
            let sliderMaxValue = document.getElementById("slider-1").max;

            function slideOne() {
                if (parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap) {
                    sliderOne.value = parseInt(sliderTwo.value) - minGap;
                }
                displayValOne.textContent = parseInt(sliderOne.value).toLocaleString('vi-VN') +"đ";
                fillColor();
            }
            function slideTwo() {
                if (parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap) {
                    sliderTwo.value = parseInt(sliderOne.value) + minGap;
                }
                displayValTwo.textContent = parseInt(sliderTwo.value).toLocaleString('vi-VN')+"đ";
                fillColor();
            }
            function fillColor() {
                percent1 = (sliderOne.value / sliderMaxValue) * 100;
                percent2 = (sliderTwo.value / sliderMaxValue) * 100;
                sliderTrack.style.background = `linear-gradient(to right, #dadae5 ${percent1}% , #3264fe ${percent1}% , #3264fe ${percent2}%, #dadae5 ${percent2}%)`;
            }

            // --- CODE CHO FILTER ---
            $(document).ready(function(){
                var TargetGroup = @(ViewBag.TargetGroup ?? 0);
                var CategoryId = @(ViewBag.CategoryId ?? "null");

                $(".btn_render_product_filter button").on("click", function(e) {
                    e.preventDefault();

                    var minPrice = $('#slider-1').val();
                    var maxPrice = $('#slider-2').val();
                    var colors = $("input[name='colors']:checked").map(function(){
                        return $(this).val();
                    }).get();

                    var sizes = $("input[name='sizes']:checked").map(function(){
                        return $(this).val();
                    }).get();

                    var ajaxData = {
                        TargetGroup: TargetGroup,
                        minPrice: minPrice,
                        maxPrice: maxPrice,
                        color: colors,
                        sizes: sizes
                    }
                    if (CategoryId) ajaxData.CategoryId = CategoryId;

                    $.ajax({
                        url: '@Url.Action("Product", "home")',
                        type: "GET",
                        data: ajaxData,
                        traditional: true,
                        success: function(response){
                            $("#product-list-area").html(response);
                        },
                        error: function(){
                            alert("Lỗi khi lọc!");
                        }
                    })
                })
            })

            //reponsive list_menu
            $(window).on("resize", () => {
                 if ($("#LIST").css("display")=== "none") {
                    $(".container").removeClass("ac");
                 } else if ($("#list_menu").hasClass("ac")) {
                    $(".container").addClass("ac");
                 }
            })
        }
    </script>
}