@model Clothing_shopping.Models.User

@{
    ViewData["Title"] = "Register";
}

<div class="register">
    <form asp-action="Register" method="post">
        <h3>Register</h3>
        <div class="row_register">
            <div class="input_form">
                <input id="first_name_register" name="first_name" type="text" placeholder="" required/>
                <label for="first_name_register">Họ</label>
            </div>
            <div class="input_form">
                <input id="second_name_register" name="second_name" type="text" placeholder="" required />
                <label for="second_name_register">Tên</label>
            </div>
        </div>
        <div class="row_register">
            <div class="column">
                <label for="day">Ngày sinh</label>
                <select id="day" name="day" required>
                    @for(var i =1; i <= 31; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class ="column">
                <label for="month">Tháng sinh</label>
                <select id="month" name="month" required>
                    @for(var i=1; i<=12; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="column">
                <label for="year">Năm sinh</label>
                <select id="year" name="year" required>
                    @for(var i =1900; i<=DateTime.Now.Year; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>
        <div class="row_register row_gender">
            <div class="gender">
                <label for="male_register">Nam</label>
                <input asp-for="Gender" id="male_register" value="Nam" name="gender" type="radio" checked placeholder="" required />
            </div>
            <div class="gender">
                <label for="female_register">Nữ</label>
                <input asp-for="Gender" id="female_register" value="Nữ" name="gender" type="radio" placeholder="" required />
            </div>
        </div>
        <div class="input_form">
            <input asp-for="Email" id="email_register" type="email" placeholder="" required />
            <label for="email_register">Email</label>
        </div>
        <div class="input_form">
            <input asp-for="PasswordHash" id="password_register" type="password" placeholder="" required />
            <label for="password_register">Mật khẩu</label>
            <i class="fa-solid fa-lock register_lock"></i>
        </div>
        <div class="input_form">
            <input id="check_password_register" type="password" placeholder="" required />
            <label for="check_password_register"> Nhập lại mật khẩu</label>
            <i class="fa-solid fa-lock check_register_lock"></i>
        </div>
        <div class="btn_register">
            <div>
                <button type="submit">Đăng ký</button>
            </div>
            <div>
                <a asp-controller="User" asp-action="Login">Đã có tài khoản</a>
            </div>
        </div>
    </form>
</div>